# dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# testing
/coverage

# production
/build
frontend/build/
frontend/dist/

# databases & environments
backend/config/database.json
backend/.env
frontend/.env
.env

# misc
.DS_Store
npm-debug.log*
~$*.docx
